<div id="log" class="sl__chat__layout chatbox {{if @vertical "vertical"}}" ...attributes>

  {{#each this.messages as |message index|}}
    <Chatitem
      @message={{message.message}}
      @from={{message.from}}
      @colour={{message.colour}}
      @index={{index}}
      @context={{message.context}}
    />
  {{/each}}
  {{#if @vertical}}
    <div class="chat-spacer"></div>
  {{/if}}
</div>