{{! template-lint-disable no-inline-styles style-concatenation }}
<div class="goal">
  <span class="bar {{this.completedClass}}" style="width: {{this.completedPercent}}%"></span>
  <div class="stats">
    <span>{{@current}}</span>
    <span class="text">{{@text}}</span>
    <span>{{@target}}</span>
  </div>
</div>